$concrete: #F2F2F2;
$athens-gray: #F8F9FA;
$fun-green: #00A11E;
$ghost: #C6CBD4;
$panache: #EDF8EF;
$comet: #5B5E77;
$white: #fff;
$red: #dc3545;
$gallery: #EDEDED;
$mischka: #D5DAE0;
$alabaster: #FBFBFB;
$black: #282136;
$transparent: transparent;

//buttons
$confirm: $fun-green; //confirm
$default: $white; //confirm
$filter: $alabaster;

$active-color: $fun-green;

$shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
