$border-radius-checkbox: 2px;
$border-radius-modal: 4px;
$border-radius-btn: 4px;

$border-filter-items: 2px;

$spacer-in-table-elements: 6px;
$spacer: $spacer-in-table-elements;

//screen sizes
$md: 996px;
